* {

    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;

    /*propiedad magica*/
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;

}

body {


    color: #060707;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFFF;



}

.fondoPrincipal{

    display: flex;
    flex-direction: row;
}

.cabezera{

    display: flex;
    align-items:baseline;
    padding: 14px 33px;
    border-radius: 14px;
    background-color: aqua;
    flex-direction: column;

}


.logo{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    gap: 5px;


}

.jumbootron{

    display: flex;
    background-image:url(assets/Imagen1.png) ;
    background-size: cover;
    width: 100%;
    height: 580px;
    background-position: center;
    justify-content: right;
    align-items: baseline;

}


.texto-jumbo{

    color: #FFFFFF;
}


.logo img{ 

    display: flex;
    width: 50px;
    height: 50px;
    object-fit: cover;

    /*justify-content: center;*/

}

.cancion img{

    width: 100px;
    height: 150px;
    object-fit: cover;
}



.album img{

    width: 100px;
    height: 150px;
    object-fit: cover;
}
